*,::before,::after{
  /* margin:0;
  padding:0; */
  box-sizing: border-box;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  padding-left: 35px; /* create space for the icon */
  height: 40px;
  font-size: 16px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* so the icon doesn't block input clicks */
}

#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; /* space between cards */
  padding: 20px; /* space around the grid */
}

.card {
  width: 100%; /* fits the grid column */
  background: #fff;
  /* sets border width border style and border color*/
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
    box-sizing: border-box; /* ensures padding doesn't affect width */
}
.product-image{
  width:100%;
  height:auto;
}
h2{
  text-align: center;
}